/* Generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo-header{
    padding: 10px;
}

#title{
    display: inline-block;
    vertical-align: sub;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    vertical-align: middle;
}

main{
    background-color: #f6f8f9c4;
    padding: 50px 150px;
}

/* main */
.container{
    background-color: #fff;
}

#add-task, #add-section{
    display: inline-block;
    margin: 10px;
}

a{
    list-style: none;
    color: #fff;
    background-color: #5f9ea0;
    border: 3px;
    border-radius: 50%;
}