/* Generics */
body{
    background-color: #808080;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* logo */
#logo-header{
    height: 70px;
    background-color: #fff;
    line-height: 70px;
    padding-left: 20px;
    margin-bottom: 20px;
}

#logo{
    vertical-align: middle;
}

#title{
    display: inline;
    background-color: #fff;
    vertical-align: middle;
    font-weight: 900;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
}

/* utilities */

.rounded{
    border-radius: 5px;
}

/* main */

.container{
    width: 1080px;
    margin: 0 auto;
    padding: 10px 30px;
    background-color: #fff;
}

/* buttons */

.add-task{
    padding-left: 30px;
}

.add-task, .add-section{
    display: inline-block;
}


.section-button{
    padding: 5px 10px;
    background-color: #fff;
    color: #808080;
    border-color: currentColor;
}

.task-button{
    padding: 5px 10px;
    background-color: #45abea;
    color: #fff;
    border-color: #45abea;
}

/* list */
 ul{
     list-style: none;
 }

 h3{
     margin-top: 30px;
 }



 .task::before{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
 }

 .done.task::before{
    content: ' \2713';
    color: #008000;
 }

 .undone.task::before{
    content: ' \2717';
    color: #ff0000;
 }

.task-type{
    margin-left: 10px;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
}

.blue{
    background-color: #45abea;
}

.fuchsia{
    background-color: #d863a1;
}

.purple{
    background-color: #9d73e4;
}